.card-img-wrapper{
  overflow: hidden;
  position: relative;
}

.projImg{
  height: 200px;
  width: 220px;
}

.card:hover {
  transform: scale(1.15,1.15);
  transition-duration: 500 ms;
  transition-timing-function: ease-out;
  z-index: 1;
  position: relative;
}

.card {
  transform: scale(1,1);
  transition-duration: 500 ms;
  transition-timing-function: ease-out;
}

.member-icons{
  position: absolute;
  bottom: -15%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
}

.card-img-wrapper:hover .member-icons{
  bottom:0;
  opacity: 1;
}

.animate{
  transition: all 0.4s ease-in-out;
}
